.video-riesgos {
  border-radius: 10px;
  max-width: 80%;
  margin: auto;
}

.video-riesgos video {
  width: 95%;
  border: 2px solid #c5c9c6;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}