.cards-container-sld6-l3 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}

.card-info-sld6-l3 {
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-info-sld6-l3:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.card-info-sld6-l3 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-info-sld6-l3 p {
    font-size: 1em;
}

.card-info-sld6-l3 i {
    font-size: 3.5em;
    text-align: center;
    color: #04395e;
    float: left;
    margin-right: 5%;
}